.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
  }
  
  @media (min-width: 768px) {
    .header {
      padding: 2rem 10%;
    }
  }
  
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
  }
  
  .logo img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
  }